*{
    padding: 0px;
    outline: none;
}
div#main_sidebar {
    height: 100%;
    background: black;
}

div#dashboard_sidebar {
    padding: 40% 64px;
    height: 100%;
    background: #16151d;
    color: white;
    height: 100vh;
}

div.form_page {
    text-align: left;
    padding: 10%;
}

div.form_page input[type=text],input[type=email],input[type=password] {
    display: block;
    margin: 24px auto;
    border: none;
    border-bottom: 2px solid indigo;
    padding: 16px 16px 16px 0px;
    width: 80%;
}
input[type=button], input[type=submit] {
    display: block;
    margin: 48px auto;
    width: 80%;
    background: indigo;
    color: white;
    padding: 16px;
}
input[type=button]:hover, input[type=submit]:hover {
    color: white;
}
div.form_page input::placeholder:focus{
    position: relative;
    left: -16px;
    font-size: 8px;
}

h1.login_note {
    margin: auto;
    width: 80%;
    text-align: left;
    padding-bottom: 32px;
}

@media screen and (min-width: 720px) {
   
div.form_page input[type=text],input[type=email],input[type=password] {
    display: block;
    margin: 24px auto;
    border: none;
    border-bottom: 2px solid indigo;
    padding: 16px 16px 16px 0px;
    width: 60%;
}
h1.login_note {
    margin: auto;
    width: 60%;
    text-align: left;
    padding-bottom: 32px;
}
input[type=button], input[type=submit] {
    display: block;
    margin: 48px auto;
    width: 60%;
    background: indigo;
    color: white;
    padding: 16px;
}
}

@media screen and (min-width: 1440px) {
   
    div.form_page input[type=text],input[type=email],input[type=password] {
        display: block;
        margin: 24px auto;
        border: none;
        border-bottom: 2px solid indigo;
        padding: 16px 16px 16px 0px;
        width: 40%;
    }
    input[type=button], input[type=submit] {
        display: block;
        margin: 48px auto;
        width: 40%;
        background: indigo;
        color: white;
        padding: 16px;
    }
    h1.login_note {
        margin: auto;
        width: 40%;
        text-align: left;
        padding-bottom: 32px;
    }
    }